@using SimpleInformationalSystem.Models
    @model EmployeeViewModel
    <tr>
        <td>
            @Model.FirstName
        </td>
        <td>
            @Model.LastName
        </td>
        <td>
            @Model.Title
        </td>
    </tr>
