body {
}
button {
border:none;
background-color:#d1ebd8;
font-size:large;
color:#51cbc7;
background-size:100% 100%;
width:100%;
}

table {
    border:1px solid #51cbc7;
background-color:#d1ebd8;
font-weight:100;
}
