@using SimpleInformationalSystem.Areas.Admin.Models
@model IEnumerable<OrderViewModel>

<table class="table-striped">
    <tr>
        <th>
            Company Name
        </th>
        <th>
            Contact Name
        </th>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>
                @order.OrderDate
            </td>
            <td>
                @order.ShippingAddress
            </td>
        </tr>
    }
</table>
