@using SimpleInformationalSystem.Areas.Admin.Models
@model IEnumerable<CustomerViewModel>

<table class="table-striped">
    <tr>
        <th>
            Company Name
        </th>
        <th>
            Contact Name
        </th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @customer.CompanyName
            </td>
            <td>
                @customer.ContactName
            </td>
        </tr>
    }
</table>
