<div class="container">
    <div class="jumbotron text-center">
        <h1>Welcome to Trip Exchange</h1>
        <h2>Find your way home</h2>
    </div>
    <div class="row ">
        <div class="col-md-3 text-center">
            <h4>Trips</h4>
            <span>{{vm.tripInfo.trips}}</span>
        </div>
        <div class="col-md-3 text-center">
            <h4>Finished Trips</h4>
            <span>{{vm.tripInfo.finishedTrips}}</span>
        </div>
        <div class="col-md-3 text-center">
            <h4>Users</h4>
            <span>{{vm.tripInfo.users}}</span>
        </div>
        <div class="col-md-3 text-center">
            <h4>Drivers</h4>
            <span>{{vm.tripInfo.drivers}}</span>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-6"><div all-trips></div></div>
        <div class="col-md-6"><div all-drivers></div></div>
    </div>
</div>